header {font:40px "Courier New"; letter-spacing:5px;color:white;}
#pdown {font:15px "Courier New"; letter-spacing:5px;color:white;}
ul li a {font:10px "Courier New"; text-decoration:none; color: white;}
#menu a{font: 20px "Courier New";color:white;font-weight: bold;}
#infoblock a{font-family: 'Open Sans', sans-serif;color:black;padding:0;font-size: 20px;letter-spacing:1px}
#foottext a{font:10px "Courier New"; color:white;font-weight: bold;}

h1{font-family: 'Open Sans', sans-serif;color:black;padding:0;font-size: 30px;}
h2 {font-family: 'Open Sans', sans-serif;font-size: 20px;color:black;padding:0;}
.optionsBlock a {font:10px "Courier New"; color:white;font-weight: bold;padding-bottom: 4px}
#resumetext {font:8px "Courier New"; color:black;;}