header {font:40px "Courier New"; letter-spacing:5px;color:white;}
#pdown {font:15px "Courier New"; letter-spacing:5px;color:white;}
ul li a {font:10px "Courier New"; text-decoration:none; color: white;}
#menu a{font: 20px "Courier New";color:white;font-weight: bold;}
#infoblock a{font-family: 'Open Sans', sans-serif; color:black; font-weight: 500}
#foottext a{font:10px "Courier New"; color:white;font-weight: bold;}