body {
    background: url(../img/fon2.png);
    margin: 0 auto;
    width: 100%;
}

header {
    margin: 0 auto;
}

#pdown {
    margin-top: 0px;
}

ul li a {
    padding-top: 3px;
}

ul {
    position: absolute;
    top: 5px;
    right: 5px;
}

li {
    height: 20px
}

body header p {
    text-align: center;
    margin-top: 25px;
}

#line {
    margin-top: 30px;
    width: 100%;
    height: 30px;
    border-style: dotted;
    border-width: 1px;
    border-color: white;
    min-width: 765px;
    border-right: none;
    border-left: none;
}

#menu {
    text-align: center;
    margin-top: -29px;
    min-width: 765px;
    height: 30px;
}

#menu a {
    padding-left: 50px;
    padding-right: 50px;
    border-style: dotted;
    border-width: 1px;
    border-color: transparent;
    text-decoration: none;
}

#infoblockfon,
#infoblock {
    margin-top: 40px;
    width: 100%;
    min-height: 540px;
  
    position: absolute;
    
}

#infoblock {
    min-width: 1024px;
    max-width: 1980px;
}

#me {
    float: left;
    padding-right: 60px
}

.inblock {
    padding: 20px
}

#about {
    padding-left: 100px;
    padding-right: 100px
}

#maintext1{
    text-align: left;
    text-decoration: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#linedown {
    margin-top: 30px;
    width: 100%;
    height: 30px;
}

#linedow img {
    min-height: 30px
}

#foottext {
    text-align: center;
    margin-top: -30px;
    padding-bottom: 5px
}

#skillblock {
    visibility: hidden;
}
#sblock {
    width: 100%;
    height: 100%;
    top: 100px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 200px;
}
td {
    border: solid;
    width: 35px;
    border-width: 2px;
    height: 10px;
    border-color: lightslategray;
    background-color: white;
    border-collapse: separate
}

.skills {
    width: 200px;
    height: 300px;
    float: left;
    margin: 30px;
    margin-top:-100px;
    text-align: center;
}

.skills img {
    padding-bottom: 20px;
}


#contactsblock {
    visibility: hidden;
    width: 0px;
    height: 0px;
}
#cs {
    margin-top: 50px;
    text-align: center;
}
#resumeIn {
    visibility: hidden;
    
}



#baseinfo{
    max-height: 500px;
    padding-top:20px;
    padding-left: 100px;
    padding-right: 100px
}
#resumetext {white-space: normal}
#me1 {float:left; padding-right: 40px;}

.optionsBlock a {
    text-align: center;
    padding-left: 0;
    padding-right: 0
}

.slideDown {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}

@keyframes slideDown {
    0% {
        transform: translateY(-150%);
    }
    50% {
        transform: translateY(8%);
    }
    65% {
        transform: translateY(-4%);
    }
    80% {
        transform: translateY(4%);
    }
    95% {
        transform: translateY(-2%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }
    50% {
        -webkit-transform: translateY(8%);
    }
    65% {
        -webkit-transform: translateY(-4%);
    }
    80% {
        -webkit-transform: translateY(4%);
    }
    95% {
        -webkit-transform: translateY(-2%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}

.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 0.2s;
    -webkit-animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}